<section>
    <div class="g-title">
        <div class="container">
            <div class="row g-row">
                <div class="col-md-6 col-sm-12 mb-xs-2 no-mb-md">
                    <h1>Bandeja de Historias Clínicas</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-body g-border-top h-myd-border--top-0">
        <div class="g-section-inner g-dashboard-section">
            <div class="container">
                <form name="frmSearchProgram" [formGroup]="formGroupBuscarHistoria" class="form-validate col-md-3" style="padding-left: 0;">
                    <div class="clearfix g-col-filter g-box-md fz14 gBgcGray5-md gBgcWhite1" id="filterBox"
                        [ngClass]="isFilterVisible ? 'show' : ''">
                        <div class="col-md-12 mb-ms-0 mb-xs-3 gH4 gCGray1">
                            <h2 class="pb-xs-1 hidden-xs hidden-sm"><b>Filtros de búsqueda</b></h2>

                            <div id="show-filter"
                                class="row pt-xs-2 pb-xs-2 gBgcGray5 g-border-bottom-xs hidden-md hidden-lg">
                                <div class="col-xs-10">
                                    <h2><b>Filtros de búsqueda</b></h2>
                                </div>

                                <div class="col-xs-2 g-text-right-xs">
                                    <span class="glyphicon"
                                        [ngClass]="isFilterVisible ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="g-col-filter__box">
                            <div class="clearfix">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Busca por paciente, dni, no. de hc global o local</mat-label>
                                                <input formControlName="codigo" matInput
                                                    placeholder="Busca por paciente, dni, no. de hc global o local"
                                                    class="g-text-uppercase" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12" *ngIf="!isMedico">
                                            <mat-form-field appearance="standard" class="form-group">
                                              <mat-label>Médico</mat-label>
                                              <input [formControl]="formGroupBuscarHistoria.get('medico')" type="text" autoActiveFirstOption
                                                placeholder="Médico" matInput class="g-text-uppercase" [matAutocomplete]="medicos">
                                              <mat-autocomplete #medicos="matAutocomplete" (optionSelected)="onSelectedMedic($event)"
                                                [displayWith]="onDisplayMedic">
                                                <mat-option *ngFor="let medic of medicosData" [value]="medic">
                                                  {{medic.descripcion}}
                                                </mat-option>
                                              </mat-autocomplete>
                                            </mat-form-field>
                                          </div>
                                        <div class="col-md-12" *ngIf="isMedico">
                                            <mat-form-field appearance="standard" class="form-group">
                                              <mat-label>Médico</mat-label>
                                              <input readonly [formControl]="formGroupBuscarHistoria.get('medico')" type="text"
                                                placeholder="Médico" matInput class="g-text-uppercase" >
                                            </mat-form-field>
                                          </div>
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Sede</mat-label>
                                                <mat-select formControlName="sede" (selectionChange)="getEspecialidadByMedico($event)">
                                                    <!-- <mat-option value="">Todos</mat-option> -->
                                                    <mat-option *ngFor="let sede of sedesData" [value]="sede.codigo">
                                                        {{sede.descripcion}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Especialidad</mat-label>
                                                <mat-select formControlName="especialidad">
                                                    <!-- <mat-option value="">TODOS</mat-option> -->
                                                    <mat-option *ngFor="let especialidad of especialidadesData"
                                                        [value]="especialidad.codigo">{{especialidad.descripcion}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mb-10" [hidden]="mostrarFiltros">
                                          <a (click)="verFiltros()">
                                            <span>
                                              <div>
                                                <b class="fz12 green-color">
                                                  Ver más filtros
                                                </b>
                                                <i class="material-icons green-color fz20 vam">{{mostrarFiltros ? 'keyboard_arrow_up' :
                                                  'keyboard_arrow_down'}}</i>
                                              </div>
                                            </span>
                                          </a>
                                        </div>
                                        <div  [hidden]="!mostrarFiltros">

                                            <div class="col-md-12">
                                                <mat-form-field appearance="standard" class="form-group">
                                                    <mat-label>Beneficio</mat-label>
                                                    <mat-select formControlName="beneficio" name="beneficio">
                                                        <mat-option value="">Todos</mat-option>
                                                        <mat-option *ngFor="let beneficio of beneficiosData"
                                                            [value]="beneficio.codigo">
                                                            {{beneficio.descripcion}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Diagnóstico</mat-label>
                                                <input [formControl]="formGroupBuscarHistoria.get('diagnostico')"
                                                    type="text" autoActiveFirstOption placeholder="Diagnóstico" matInput
                                                    class="g-text-uppercase" [matAutocomplete]="diagnostico">
                                                <mat-autocomplete #diagnostico="matAutocomplete"
                                                    (optionSelected)="onSelectedSearch('D')"
                                                    [displayWith]="onDisplayDiagnostic">
                                                    <mat-option *ngFor="let diagnostic of diagnosticosData"
                                                        [value]="diagnostic">
                                                        {{diagnostic.descripcion}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Procedimiento/Servicio</mat-label>
                                                <input [formControl]="formGroupBuscarHistoria.get('procedimiento')" type="text"
                                                    autoActiveFirstOption placeholder="Procedimiento/Servicio" matInput
                                                    class="g-text-uppercase" [matAutocomplete]="procedimiento">
                                                <mat-autocomplete #procedimiento="matAutocomplete"
                                                    (optionSelected)="onSelectedSearch('P')"
                                                    [displayWith]="onDisplayProcedure">
                                                    <mat-option *ngFor="let procedimiento of procedimientosData" [value]="procedimiento">
                                                        {{procedimiento.descripcion}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Busca por oa o no. de consulta</mat-label>
                                                <input formControlName="numeroConsulta" matInput
                                                    placeholder="Busca por oa o no. de consulta"
                                                    class="g-text-uppercase" autocomplete="off">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field appearance="standard" class="form-group">
                                                <mat-label>Tipo de documento</mat-label>
                                                <mat-select formControlName="tipoDocumento" name="tipoDocumento">
                                                    <mat-option value="">Todos</mat-option>
                                                    <mat-option *ngFor="let tipo of tipoDocumentoData"
                                                        [value]="tipo.codigo">
                                                        {{tipo.descripcion}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                          <mat-label><b>Rango de fechas</b></mat-label>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field appearance="standard" class="form-group">
                                            <input formControlName="fecha_desde" matInput [matDatepicker]="picker" placeholder="Desde"
                                              autocomplete="off" (click)="picker.open()" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                          <mat-form-field appearance="standard" class="form-group">
                                            <input formControlName="fecha_hasta" matInput [matDatepicker]="pickerTwo" placeholder="Hasta"
                                              autocomplete="off" (click)="pickerTwo.open()" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerTwo></mat-datepicker>
                                          </mat-form-field>
                                        </div>
                                        </div>
                                        <div class="col-md-12 mb-10" [hidden]="!mostrarFiltros">
                                          <a (click)="verFiltros()">
                                            <span>
                                              <div>
                                                <b class="fz12 green-color">
                                                  Ver menos filtros
                                                </b>
                                                <i class="material-icons green-color fz20 vam">{{mostrarFiltros ? 'keyboard_arrow_up' :
                                                  'keyboard_arrow_down'}}</i>
                                              </div>
                                            </span>
                                          </a>
                                        </div>
                                        <div class="col-md-6 mb-xs-2 mb-md-0">
                                            <button type="button" class="g-btn g-btn-transparent block"
                                                (click)="clean()" [disabled]="disableButton">Limpiar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="g-btn g-btn-verde block" (click)="search(1)"
                                                [disabled]="!searchElement('BUSHISCLI', opciones)">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-9">
                    <div class="row g-text-center-xs g-box-no-result" *ngIf="!hasRecords">
                        <div class="col-md-12 g-box-noresult-ico gCRed1">
                            <span class="ico-mapfre_302_error"></span>
                        </div>
                        <div class="col-md-12 g-box-noresult-text">
                            No hay resultados para los filtros escogidos.<br>Intenta de nuevo.
                        </div>
                    </div>
                    <div class="row mt-xs-1" *ngIf="hasRecords">
                        <div class="clearfix mb-xs-2">
                            <span style="font-weight: 700;">{{totalItems}} documentos</span>
                        </div>
                        <div *ngFor="let historia of dataSource">
                            <div class="clearfix g-box mb-xs-2">
                                <div class="dataContainer" style="border-left: none">
                                    <div class="headReg clearfix g-box-content">
                                        <div class="col-dm-12">
                                            <b>HC No. {{historia.historiaClinica}}</b>
                                            <div class="pull-right">
                                                <a *ngIf="searchElement('IMPDOCHISCLI', opciones)" (click)="operationsDetail(historia,'P')"
                                                    matTooltip="Imprimir" matTooltipPosition='above'>
                                                    <mat-icon class="fz18">print</mat-icon>
                                                </a>
                                                <!-- <a *ngIf="searchElement('DESDOCHISCLI', opciones)" (click)="operationsDetail(historia,'D')"
                                                    matTooltip="Descargar" matTooltipPosition='above'>
                                                    <mat-icon class="fz18">file_download</mat-icon>
                                                </a> -->
                                                <a *ngIf="searchElement('VERDETDOCHISCLI', opciones)" (click)="operationsDetail(historia,'V',historia)" matTooltip="Ver Detalle"
                                                    matTooltipPosition='right'>
                                                    <mat-icon class="fz18">arrow_forward</mat-icon>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix g-box-content gBgcGray5">
                                        <ul class="row g-list-md">
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Tipo de documento</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.tipoDocumento}}
                                                </div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Consulta</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.numeroConsulta}}</div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Diagnóstico</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.diagnostico}}</div>
                                            </li>
                                        </ul>
                                        <ul class="row g-list-md">
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Sede</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.sede}}</div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Paciente</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.paciente}}</div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Documento de identidad</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.numeroDocumento}}
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="row g-list-md">
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Médico</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.medico}}</div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Especialidad</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.especialidad}}</div>
                                            </li>
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Procedimiento</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.procedimiento}}
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="row g-list-md">
                                            <li class="col-md-4 clearfix cnt-item">
                                                <div class="col-sm-5 col-xs-6 item-label">Beneficio</div>
                                                <div class="col-sm-7 col-xs-6 item-dato">{{historia.beneficio}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mapfre-pagination [currentPage]="pagination" [boundaryLinkNumbers]="true"
                            [totalItems]="totalItems" [itemsPerPage]="totalItemsPage" [totalPages]="totalPages"
                            [maxSize]="10" (onChangePage)="changePage($event)"></mapfre-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
