.bgRegister {
    background-color: #888383; 
}

.bgCancel {
    background-color: #888383; 
}
  
.bgApprove {
    background-color: #717e53; 
}
  
.bgReject {
    background-color: #d81e05; 
}

.bgDelivery {
    background-color: #86b137; 
}