.count-result-search {
    margin: 0 0 20px 0;
  }
  
  .imgContainer {
    display: flex;
    width: 160px;
  
    img {
        max-height: 140px;
        max-width: 100%;
    }
  }
  .fz20 {
  font-size: 20px
  }
  
  .vam{
  vertical-align: middle;
  }
  .green-color {
  color: #749806;
  }
  .mb-10 {
  margin-bottom: 10px
  }
  
  .fz12 {
  font-size: 12px
  }
  .dataContainer {
    width: 100%;
    border-left: 1px solid #d5d5d5;
  }
  
  .g-box {
    display: flex;
  }
  
  .headReg {
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #ddd;
    line-height: 20px;
  }
  
  .icon-btn {
    padding: 0 10px;
  
    mat-icon {
        vertical-align: bottom;
        font-size: 20px;
        height: 20px;
    }
  }
  
  .label-item {
    overflow-wrap: break-word;
  }
  
  .limit-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .button-with-icon{
    display: flex; 
    align-items: center; 
    justify-content: center;
    span{
        margin-left: 5px; margin-right: 5px;
    }
  }

  .centrar-vertical{
    display: flex; 
    align-items: center;
    button{
      align-content: flex-end;
    } 
  }

  #defaultRTE_rte-edit-view{
    padding: 0;
    border: solid;
    border-width: 2rem;
    border-color: gainsboro;
    padding: 2rem;
    min-height: 200px;
  }
  
  @media (min-width:992px) {
    .count-result-search {
        margin: 40px 0;
    }
  }