.content {
    height: 180px;
}

.error {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    top: 110px;
}

.text {
    font-size: 30px;
    position: absolute;
    left: 275px;
    top: 132px;
}

.buttonLink {
    position: absolute;
    top: 210px;
    left: 15px;
}
