<section>
    <div class="g-title">
      <div class="container">
        <div class="row g-row">
          <div class="col-md-6 col-sm-12 mb-xs-2 no-mb-md">
            <h1>{{title}}</h1>
          </div>
          <div class="col-md-6 col-sm-12 mb-xs-2 no-mb-md">
            <div class="col-md-4 mb-xs-1 no-mb-sm col-md-offset-8">
              <a *ngIf="searchElement('CARDOC', opciones)" class="g-btn second-design g-btn-green-border block" (click)="uploadDocuments()">Cargar documentos</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-body g-border-top h-myd-border--top-0">
      <div class="g-section-inner g-dashboard-section">
        <div class="container">
          <form name="frmSearchDocuments" [formGroup]="formGroupSearchDocuments" class="form-validate col-md-3"
            (ngSubmit)="formGroupSearchDocumentsSubmit(formGroupSearchDocuments)">
            <div class="clearfix g-col-filter g-box-md fz14 gBgcGray5-md gBgcWhite1" id="filterBox"
              [ngClass]="isFilterVisible ? 'show' : ''">
              <div class="col-md-12 mb-ms-0 mb-xs-3 gH4 gCGray1">
                <h2 class="pb-xs-1 hidden-xs hidden-sm"><b>Filtros de búsqueda</b></h2>

                <div id="show-filter" class="row pt-xs-2 pb-xs-2 gBgcGray5 g-border-bottom-xs hidden-md hidden-lg"
                  (click)="toggleFilter()">
                  <div class="col-xs-10">
                    <h2><b>Filtros de búsqueda</b></h2>
                  </div>

                  <div class="col-xs-2 g-text-right-xs">
                    <span class="glyphicon"
                      [ngClass]="isFilterVisible ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
                  </div>

                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="g-col-filter__box">
                <div class="clearfix">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Estado de firma</mat-label>
                          <mat-select formControlName="estado">
                            <mat-option *ngFor="let estado of estadoData" [value]="estado.codigo">{{estado.descripcion}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12" *ngIf="!isMedico">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Médico</mat-label>
                          <input [formControl]="formGroupSearchDocuments.get('medico')" type="text" autoActiveFirstOption
                            placeholder="Médico" matInput class="g-text-uppercase" [matAutocomplete]="medicos">
                          <mat-autocomplete #medicos="matAutocomplete" (optionSelected)="onSelectedMedic($event)"
                            [displayWith]="onDisplayMedic">
                            <mat-option *ngFor="let medic of medicosData" [value]="medic">
                              {{medic.descripcion}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                    <div class="col-md-12" *ngIf="isMedico">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Médico</mat-label>
                          <input readonly [formControl]="formGroupSearchDocuments.get('medico')" type="text"
                            placeholder="Médico" matInput class="g-text-uppercase" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Sede</mat-label>
                          <mat-select formControlName="sede" (selectionChange)="getEspecialidadByMedico($event)">
                            <!-- <mat-option value="">Todos</mat-option> -->
                            <mat-option *ngFor="let sede of sedesData" [value]="sede.codigo">{{sede.descripcion}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Especialidad</mat-label>
                          <mat-select formControlName="especialidad">
                            <!-- <mat-option value="">Todos</mat-option> -->
                            <mat-option *ngFor="let especialidad of especialidadesData" [value]="especialidad.codigo">
                              {{especialidad.descripcion}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <mat-label><b>Rango de fechas</b></mat-label>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="standard" class="form-group">
                          <input formControlName="fecha_desde" matInput [matDatepicker]="picker" placeholder="Desde"
                            autocomplete="off" (click)="picker.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="standard" class="form-group">
                          <input formControlName="fecha_hasta" matInput [matDatepicker]="pickerTwo" placeholder="Hasta"
                            autocomplete="off" (click)="pickerTwo.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTwo></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 mb-xs-2 mb-md-0" *ngIf="isFilterVisible">
                        <button type="button" class="g-btn g-btn-transparent block" (click)="clean()"
                          [disabled]="disableButton">Limpiar</button>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field appearance="standard" class="form-group">
                          <mat-label>Busca por paciente, oa ,no de consulta o hc</mat-label>
                          <input formControlName="codigo" matInput
                            placeholder="Busca por paciente, oa ,no de consulta o hc" autocomplete="off">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6" *ngIf="isFilterVisible">
                        <button type="button" (click)="search(1)" class="g-btn g-btn-verde block"
                          [disabled]="!searchElement('BUSDOCCAR', opciones)">Buscar</button>
                      </div>
                    </div>

                    <div class="row" *ngIf="!isFilterVisible">
                      <div class="col-md-12">
                        <div class="col-md-6 div-clean">
                          <button type="button" class="g-btn g-btn-transparent block px-10" (click)="clean()"
                            [disabled]="disableButton">Limpiar</button>
                        </div>
                        <div class="col-md-6 div-search">
                          <button type="button" (click)="search(1)" class="g-btn g-btn-verde block px-10"
                          [disabled]="!searchElement('BUSDOCCAR', opciones)">Buscar</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="col-md-9">

            <div class="row g-text-center-xs g-box-no-result" *ngIf="!hasRecords">
              <div class="col-md-12 g-box-noresult-ico gCRed1">
                  <span class="ico-mapfre_302_error"></span>
              </div>
              <div class="col-md-12 g-box-noresult-text">
                  No hay resultados para los filtros escogidos.<br>Intenta de nuevo.
              </div>
          </div>
            <div  *ngIf="hasRecords">
              <div class="row header-tray-row">
                <div class="col-md-7 col-sm-12 mb-xs-2 no-mb-md">
                  <h2><b>{{totalPendiente}} consultas con documentos pendientes de firma</b></h2>
                </div>
                <div class="col-md-5 col-sm-12 mb-xs-2 no-mb-md size-but">
                  <div class="col-md-7 mb-xs-1 no-mb-sm col-md-offset-5">
                  </div>
                </div>
              </div>
              <div *ngFor="let data of dataSource; let i = index" [attr.data-index]="i">
                <div class="pt-10">
                  <div class="clearfix g-box mb-xs-2">
                    <div class="dataContainer">
                      <div class="headReg clearfix g-box-content">
                        <div class="col-md-12">
                          <h2 class="header-section">
                            <b>Consulta No. {{data.numeroConsulta}}</b>
                            <a (click)="showDocuments(i)">
                          <span class="editSection mx-0">
                            <div class="disp-center">
                              <b class="fz12 green-color">
                               {{data.cantidadDocumento}} Documentos
                              </b>
                              <i class="material-icons fz20">{{posIndex==i ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
                            </div>
                          </span>
                            </a>
                          </h2>
                        </div>
                        <div class="col-md-12 mb-10">
                          <div class="item-section">
                            <div class="data-section">
                              <ul>
                                <li class="col-md-5 pl-0">
                                  <span class="item-dato"><b>Paciente </b></span>
                                  <span class="item-dato mg-l-10">{{data.paciente}}</span>
                                </li>
                                <li class="col-md-2 bl-lg">
                                  <span class="item-dato"><b>No. de HC </b></span>
                                  <span class="item-dato mg-l-10">{{data.historiaClinica}}</span>
                                </li>
                                <li class="col-md-2 bl-lg">
                                  <span class="item-dato"><b>Sede </b></span>
                                  <span class="item-dato mg-l-10">{{data.sede}}</span>
                                </li>
                                <li class="col-md-3 bl-lg">
                                  <span class="item-dato"><b>Ocurrencia </b></span>
                                  <span class="item-dato mg-l-10">{{data.ocurencia | customDate}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                     <div *ngFor="let documento of data.documentos;let idx = index">
                      <div class="clearfix g-box-content gBgcGray5" *ngIf="posIndex==i ">
                        <ul class="g-list-md g-box list-documents direction">
                          <li class="col-md-4 pt-0">
                            <span class="item-dato mr-10">
                            </span>
                            <span class="item-dato">{{documento.tipoDocumento}}</span>

                          </li>
                          <li class="col-md-3 pt-0">
                            <span class="item-dato"><b>Fecha de doc. </b></span>
                            <span class="item-dato mg-l-10">{{documento.fechaDocumento | customDate}}</span>
                          </li>
                          <li class="col-md-3 pt-0">
                            <span class="item-dato"><b>Fecha de firma </b></span>
                            <span class="item-dato mg-l-10">{{documento.fechaFirma | customDate}}</span>
                          </li>

                        <li class="col-md-2 pt-0 contents">
                            <a *ngIf="searchElement('VERDETDOC', opciones)" (click)="operationDetail(data,documento.codigoItem,documento.numeroItem)" matTooltip="Ver Detalle" matTooltipPosition='right'>
                              <mat-icon class="fz18">arrow_forward</mat-icon>
                            </a>
                          </li>
                        </ul>
                      </div>
                     </div>
                    </div>
                  </div>
                </div>

              </div>

              <mapfre-pagination [currentPage]="pagination" [boundaryLinkNumbers]="true" [totalItems]="totalItems"
                [itemsPerPage]="totalItemsPage" [totalPages]="totalPages" [maxSize]="10"
                (onChangePage)="changePage($event)"></mapfre-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
