<section>
  <div class="g-title">
    <div class="container">
      <div class="row g-row">
        <div class="col-md-6 col-sm-12 mb-xs-2 no-mb-md">
          <h1>Mantenimientos</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-body g-border-top h-myd-border--top-0">
    <div class="g-section-inner g-dashboard-section">
      <div class="container">
        <div class="col-md-4" >
          <a class="g-btn g-btn-verde block" style="padding: 25px 0 25px 0;" (click)="goToProfetionals()">PROFESIONALES DE LA SALUD</a>
        </div>
      </div>
    </div>
  </div>
</section>
